h2 {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

div {
  font-size: 5px;
  height: 20px;
}
.a {
  border-radius: 5px;
  background-color: #fcf5fe;
  border-width: 0px;
}
.b {
  border-radius: 5px;
  background-color: #faeafd;
  border-width: 0px;
}
.c {
  border-radius: 5px;
  background-color: #f4d4fa;
  border-width: 0px;
}
.d {
  border-radius: 5px;
  background-color: #eeb2f5;
  border-width: 0px;
}
.e {
  border-radius: 5px;
  background-color: #e484ee;
  border-width: 0px;
}
.f {
  border-radius: 5px;
  background-color: #d355e0;
  border-width: 0px;
}
.g {
  border-radius: 5px;
  background-color: #ba35c4;
  border-width: 0px;
}
.h {
  border-radius: 5px;
  background-color: #9c29a2;
  border-width: 0px;
}
.i {
  border-radius: 5px;
  background-color: #812385;
  border-width: 0px;
}
.j {
  border-radius: 5px;
  background-color: #5c1d5d;
  border-width: 0px;
}
.k {
  border-radius: 5px;
  background-color: #460a48;
  border-width: 0px;
}
