h1 {
  font-size: 20px;
  font-weight: 900;
}
.box {
  border: 1px solid rgb(199, 189, 189);
  padding: 10px 10px 10px 10px;
  width: 289px;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.a {
  border: 0px solid rgb(204, 200, 200);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: rgb(204, 200, 200);
  cursor: crosshair;
  font-family: "Times New Roman", Times, serif;
  line-height: 10px;
  text-transform: uppercase;
  word-spacing: 20px;
}
