@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  height: 300vh;
  display: flex;
  flex-direction: column;
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("https://static.toss.im/assets/homepage/newtossim/new_main.png");
  background-size: cover;
}
.direction {
  position: relative;
  top: 880px;
  text-align: center;
  font-size: 40px;
  transform: rotate(135deg);
  opacity: 60%;
  transition: all 1s;
}
.direction:hover {
  position: relative;
  top: 890px;
  text-align: center;
}
.maincontents {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}
.maininfo {
  margin: 0px auto;
  padding-top: 250px;
  z-index: 2;
}
.info1 {
  text-align: center;
  font-size: 65px;
  font-weight: 900;
}
.info2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  gap: 30px;
}
.font {
  font-family: "Pretendard-Regular";
}
.info2 > button {
  background-color: black;
  opacity: 80%;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s;
  border: 1px solid black;
  cursor: pointer;
}
.info2 > button:hover {
  background-color: gray;
  border: 1px solid gray;
}
.whiteblur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    180deg,
    white 0%,
    white 59px,
    rgba(255, 255, 255, 0) 100%
  );
}
.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  height: 50px;
  z-index: 2;
}
.menu {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home > img {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.mainmenu {
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.mainmenu > li {
  font-size: 13px;
  cursor: pointer;
  list-style: none;
  padding: 10px 5px;
}
.mainmenu > li:hover {
  background-color: rgba(219, 219, 219, 0.945);
  border-radius: 5px;
}
.lang {
  text-align: right;
  padding: 0 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.lang > li {
  font-size: 14px;
  cursor: pointer;
  padding: 10px 5px;
}
.lang > li:hover {
  background-color: rgba(219, 219, 219, 0.945);
  border-radius: 5px;
  text-align: center;
}
