.box {
  width: 500px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: start;
}
.all {
  height: 100px;
  width: 100px;
}
.one {
  background-color: green;
}
.two {
  background-color: yellow;
}
.three {
  background-color: red;
}
.code {
  /* 주축방향 */
  justify-content: start;
  justify-content: center;
  justify-content: end;
  /* 자식들이 공평하게 너비를 차지 */
  justify-content: space-around;
  /* 양 끝은 공백없이 배치 */
  justify-content: space-between;
  /* 동일한 공백을 형성 */
  justify-content: space-evenly;
  /* 주축과 반대되는 방향 */
  align-items: start;
  align-items: center;
  align-items: end;
}
